/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#222730
  Blue: #4CAAB3
  Grey: #393E46
*/

.box {
  background-color: #222730;
}

.shape {
  position: relative;
  width: 150px;
  height: 150px;
  rotate: 45deg;
  top:75px;
  left:125px;
  background-color: #4CAAB3;
  box-shadow: 0 0 0px 50px red;
}

.shape::after {
  position: absolute;
  content: "";
  width: 500px;
  height: 150px;
  top:-5px;
  left:-170px;
  rotate: -45deg;
  background-color: green;
  z-index: -1;
}

.shape::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  top:50px;
  left:50px;
  border-radius: 100%;
  background-color: #393E46;
  z-index: 1;
}

