/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #AA445F
  Yellow: #F7EC7D
  Orange: #E38F66
*/

.box {
  background-color: #aa445f;
}

.shape {
  position: relative;
  width: 200px;
  height: 200px;
  top: 50px;
  left: 75px;
  border-radius: 100px;
  background-color: #F7EC7D ;
}
