/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background:#191919
  Orange: #E08027
  Brown: #824B20
  Yellow: #FFF58F
*/

.box {
  background-color: #191919;
}

.shape {
  position: relative;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 150px;
  border-radius: 100%;
  background-color: #e08027;
  box-shadow: 0 0 0 30px #824b20;
}

.shape::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 120px;
  top: 20px;
  left: 20px;
  border-radius: 100%;
  rotate: 45deg;
  border: 20px solid #fff58f;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
}

/* .shape::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 20px;
  left: 20px;
  border-radius: 100%;
} */
